# The directory Mix will write compiled artifacts to.
/_build

# The directory Mix downloads your dependencies sources to.
/deps

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

*.errlog
*_data
*.config
*.swp
.DS_Store
.idea
*gz
*nugs
